.products {
  width: 95%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.top {
  width: 80%;
  height: 70px;
  margin-top: 50px;
  background-color: rgb(247, 209, 209);
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(
    0% 15%,
    50% 49%,
    15% 0%,
    85% 0%,
    51% 49%,
    100% 15%,
    100% 85%,
    51% 50%,
    85% 100%,
    15% 100%,
    50% 49%,
    0% 85%
  );
  border: 2.3rem solid #1a202d;
  border-radius: 40px;
}

.top h1 {
  color: white;
  font-size: 38px;
}

.addNewProduct {
  padding: 2rem 0rem;
}

.addNewProduct button {
  width: 12rem;
  height: 3rem;
  font: inherit;
  cursor: pointer;
  color: #009bff;
  border: 2px solid #009bff;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  transition: background 0.3s ease;
  margin-right: 860px;
}

.addNewProduct button:hover {
  background-color: #1a202d;
}

.productsList {
  width: 90%;
  height: auto;

  display: grid;
  grid-template: auto / repeat(3, 300px);
  justify-content: space-around;
}

.details {
  padding-top: 150px;
  width: 90%;
  height: 95vh;

  display: flex;
  justify-content: space-evenly;
}

.allDetails {
  width: 30%;
  height: 90%;

  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.updateAndDelete {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.namePriceDetails {
  width: 100%;
  min-height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.description {
  width: 100%;
  height: 130px;
  overflow-x: auto;

  word-wrap: break-word;
}

.imageContainer {
  width: 60%;
  height: 90%;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newProduct {
  width: 70%;
  height: 100%;
  margin: 4rem 0rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  margin: 1rem 0;
}

.image {
  position: relative;
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  text-align: center;
  padding: 1rem;
}

.content h3 {
  font-size: 1.25rem;
  color: #2c292b;
}

.newProduct {
  width: 70%;
  height: 100%;
  margin: 4rem 0rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.backProducts {
  width: 80%;
  height: 80vh;
  margin-top: 130px;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
}

.form {
  width: 80%;
  height: 80%;
  background-color: #eeeded;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  padding: 20px;
  padding-top: 50px;
  margin: 20px;
}

.control {
  width: 100%;
  height: 150px;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.5rem;
  width: 100%;
  height: 40px;
}

.control textarea {
  height: 130px;
}

.actions,
.actionsDelete {
  margin-top: 1.5rem;
  /* text-align: right; */
  display: flex;
  justify-content: space-around;
  gap: 30rem;
}

.actions button,
.actionsDelete button {
  width: 150px;
  height: 40px;
  font: inherit;
  cursor: pointer;
  color: #009bff;
  border: 1px solid #009bff;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  transition: background 0.3s ease;
}
.goBack {
  width: 200px;
  height: 40px;
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: 1px solid #009bff;
  border-radius: 4px;
  font-weight: bold;
  background-color: #1a202d;
  color: #ffffff;
  transition: all 0.3s ease;
}
.addToCart {
  width: 100px;
  height: 100px;
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: 5px solid #b90303;
  border-radius: 4px;
  font-weight: bold;
  background-color: #1a202d;
  color: #ffffff;
  transition: all 0.3s ease;
}

.actionsDelete button:hover {
  border-color: black;
  background-color: #b90303;
  color: white;
}

.actions button:hover,
.actions button:active,
.goBack:hover,
.addToCart:hover {
  border-color: #009bff;
  background-color: #009bff;
  color: white;
}

.cartContainer {
  margin-top: 100px;
  width: 100%;
  height: auto;
  
  padding: 2rem;
  text-align: center;
}
.cartHeader {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.cartHeader div {
  flex: 1;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  border-bottom: 2px solid #1a202d;
  margin-bottom: 2rem;
}
.cartBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}
.cartBody > * {
  flex: 1;
}
.cartImage {
  width: 100px;
}
.cartButtons > * {
  width: 25px;
  height: 30px;
  background-color: #1a202d;
  color: white;
  border: none;
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.cartButtons > *:hover{
  border: 2px solid #009bff;
}
.remove:hover{
  border: 2px solid #b90303;
}


.searchForm {
  width: 80%;
 
  display: flex;
  padding-bottom: 0rem;
  padding-top: 2rem;
}
.searchForm label {
  position: absolute;
  left: -99999px;
}

.searchForm input[type="text"] {
  flex-grow: 1;
  max-width: 100%;
  min-height: 32px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
}


.mainTitleNumber {
  
 
 
  font-weight: 700;
  font-size: 42px;
  
  color: #1a202d;
  text-shadow: 1px 1px 10px #009bff;
  
}

.AddNew_Number{
  width: 80%;
 
  
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}
